:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  /* Updated for a solid background color */

  --primary-glow: none;
  /* Remove or adjust as needed for non-gradient effects */
  --secondary-glow: none;
  /* Remove or adjust as needed for non-gradient effects */

  --tile-rgb: 239, 245, 249;
  /* Adjusted for solid tile color */
  --tile-border: none;
  /* Remove border gradient if not needed */

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    /* Solid color for dark mode background */

    --primary-glow: none;
    --secondary-glow: none;

    --tile-rgb: 2, 13, 46;
    /* Solid color for dark mode tiles */
    --tile-border: none;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  /* Use solid background color */
}

a {
  color: inherit;
  text-decoration: none;
}

/* rehype-pretty-code */
figure[data-rehype-pretty-code-figure] {
  margin: 0;
}

[data-rehype-pretty-code-figure] code {
  display: grid;
}

[data-rehype-pretty-code-figure] [data-line] {
  padding: 0 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
